.container{
    background-image: url('https://assets.ccbp.in/frontend/static-website/scuba-diving-bg.png');
    height: 100vh;
    color: white;
    text-align: center;
    font-family: "Roboto";
    background-size: cover;
}