*{
    inset: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:darkslategrey;
}
#spinner{
    height: 100px;
    width: 100px;
    border: 20px solid ;
    border-radius: 50%;
    border-color: red black black black;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    to{
        transform: rotate(365deg);
    }
}